body{
    background-image: url("../images/circles-light.png");
}

h1,
h2,
h3{
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

p{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

/* Header Section*/

header{
    background-color: #ffffff;
}

#mainLogo{
    background-color: #4aaaa5;
    color: #fff;
    font-size: 1.5rem;
}

nav li{
    display: inline-block;
    margin-right: 10px;
}

nav ul li a{
    text-decoration: none;
}

/*Main Content Section*/
#mainContentWrapper{
    width: 960px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#aboutMeWrapper{
    margin: 15px 15px 15px;
}

.aboutMe{
    border-bottom: 2px solid #666666;
}

img{
    width: 250px;
}

footer{
    background-color: #666666;
}




